@import url('https://fonts.google.com/specimen/Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* color: #fff; */
}

.title h4 {
    padding: 0;
    max-height: 1px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 25px;
    transition: 1s ease-in;
    visibility: visible;
    opacity: 0%;
}

.circle {
    margin: -5px 0px;
    height: 15px;
    width: 15px;
    z-index: 1;
    margin-left: 0px;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}

.song {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px; }
    .song div div {
        height: 215px;
        width: 215px;
        margin: 0 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-color: purple; }
        .song div div:after {
        content: "";
        display: block;
        height: 200px;
        width: 200px;
        margin-top: 55px;
        z-index: -1;
        filter: blur(25px) saturate(2); }

.song-one {
    background-image: url(./img/mateus.jpg);}
    .cover-one:after {
        background-image: url(./img/mateus.jpg);}

.song-two {
    background-image: url(./img/julliany.jpg);}
    .cover-two:after {
        background-image: url(./img/julliany.jpg);}

.song-three {
    background-image: url(./img/fhop.jpg);}
    .cover-three:after {
        background-image: url(./img/fhop.jpg);
        /* transform: rotate(270deg); */
    }

.progresso {
    /* display: flex; */
    position: relative;
    /* justify-content: center; */
    /* margin-left: -3px; */
    /* background: rgb(208, 208, 208); */
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 90px;
    height: 4px;
    width: 200px;
}

.progress-bar::-webkit-progress-value {
    background-color: black;
    background: linear-gradient(to right, black 100%);
}

.circle {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 2;
  margin: 10px -3%;
  padding: 0px;
}


.progress-bar {
    background: black;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: width 0.1s linear;
    position: relative;
    z-index: 1;
}

.controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.control.left {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    transition-property: transform, box-shadow;
    transition-duration: .1s;
}

.control.right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    transition-property: transform, box-shadow;
    transition-duration: .1s;
}

.control.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    transition-property: transform, box-shadow;
    transition-duration: .1s;
}

.container{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: green; */
    height: 100px;
    width: 100px;
    position: relative;
    perspective: 1000px;
    transition-property: transform, box-shadow;
    transition-duration: .1s;
}

.front, .back{
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    height: inherit;
    width: inherit;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:active   {
    font-size: 1rem;
    transform: scale(.9);
    box-shadow: 0 3px 15px -2px;
  }

  .control.left:active{
    font-size: 1rem;
    transform: scale(.9);
    box-shadow: 0 3px 15px -2px;
  }

  .control.right:active{
    font-size: 1rem;
    transform: scale(.9);
    box-shadow: 0 3px 15px -2px;
  } 

  .control.reset:active{
    font-size: 1rem;
    transform: scale(.9);
    box-shadow: 0 3px 15px -2px;
  }

.front {
    visibility: visible;
}

.back {
    visibility: hidden;
}

.container.costa .front {
    visibility: hidden;
}

.container.costa .back {
    visibility: visible;
} 

ion-icon {
    font-size: 64px;
}
